.loginPage {
  background-color: rgb(209, 209, 52);
  height: 100vh;
  padding-top: 3rem;
}

.blackLogo {
    width: 250px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40%;
}

.loginH1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.loginInput {
    background-color: rgb(168, 168, 23);
    color: black;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.loginInput::placeholder {
    color: black;
}

.loginInput:focus {
    background-color: black;
    color: yellow;
}

.loginButtonPill {
    display: block;
    width: 100%;
    font-size: 2rem;
    border-radius: 30px;
    background-color: black;
    color: yellow;
    margin-top: 2rem;
}

.loginButtonPill:hover {
    background-color: rgb(146, 146, 21);
    color: black;
}

.loginButtonPill .loginButton {
    color: yellow;
}

.loginButtonPill .loginButton:hover {
    color: black;
}

.bottomAdiv {
    text-align: center;
    margin-top: 2rem;
}

.bottomA {
    color: black;
    margin-right: 1rem;
    font-size: 1.3rem;
}